@import "../../components/Layout/scss/utils/index";

.section--project {
  .header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem-calc(300);
    overflow: hidden;
    @include media-breakpoint-down(md) {
      height: rem-calc(150);
    }
    &::before {
      content: '';
      position: absolute;
      background-color: rgba($color: #000, $alpha: .5);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    &__title {
      color: #fff;
      z-index: 2;
      font-size: rem-calc(50);
      font-weight: $font-bold;
      text-transform: uppercase;
      letter-spacing: rem-calc(3);
      @include media-breakpoint-down(lg) {
        font-size: rem-calc(40);
      }
      @include media-breakpoint-down(md) {
        font-size: rem-calc(30);
        letter-spacing: rem-calc(0);
      }
    }
    &__bg {
      position: absolute;
      width: 100%;
      top: -50%;
      // filter: blur(10px) brightness(2);
      filter: blur(3px);
    }
  }
  .columns {
    flex-grow: 1;
    padding: 2rem 0;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      padding: 0;
    }
  }
  .column {
    // flex-basis: 50%;
    @include media-breakpoint-down(md) {
      // flex-basis: 100%;
    }
    &--centered {
      text-align: center;
    }
    &.is-half {
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
    &.text {
      @include media-breakpoint-down(md) {
        order: 1
      }
    }
  }
  h2 {
    font-weight: $font-normal;
  }
  .images {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 70%;
    // margin: 20% 0;
    margin-top: 5rem;
    text-align: center;
    // perspective: 1000px;
    perspective: rem-calc(1500);
    @include media-breakpoint-down(md) {
      width: 80%;
      margin: 5rem auto 0;
      padding-bottom: 60%;
    }
    &__link {
      position: absolute;
      box-shadow: 0 0 rem-calc(30) rgba(0, 0, 0, 0.2);
      transform: rotateY(-30deg) rotateX(5deg);
      transform-origin: left bottom;
      display: block;
      transition: .3s;
      &:hover {
        transform: rotateY(-30deg) rotateX(5deg) translateY(-1rem);
        box-shadow: 0 0.5rem rem-calc(30) rgba(0, 0, 0, 0.3);
      }
      &--phone {
        width: 20%;
        top: 40%;
        left: 30%;
        z-index: 2;
      }
      &--tablet {
        width: 40%;
        top: 20%;
        z-index: 1;
      }
      &--desktop {
        width: 95%;
        top: 0;
        left: 50%;
        transform: rotateY(-30deg) rotateX(5deg) translateX(-50%);
        &:hover {
          transform: rotateY(-30deg) rotateX(5deg) translateX(-50%) translateY(-1rem);
        }
      }
    }
    &__img {
      display: block;
      width: 100%;
    }
  }
  .text {
    font-weight: $font-light;
    line-height: 1.5rem;
    h2 {
      margin-top: 3rem;
      &:first-child {
        @include media-breakpoint-down(md) {
          margin-top: 0;
        }
      }
    }
    .released {
      display: flex;
      align-items: center;
      svg {
        height: 1.2rem;
        margin-right: 0.7rem;
      }
    }
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    &__tag {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      margin: 0 0.5rem;
      @include media-breakpoint-down(sm) {
        margin: 0 0.3rem;
      }
      .no-svg, svg {
        transition: .3s;
        opacity: 0.2;
        &:hover {
          opacity: 1;
        }
      }
      .no-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: #fff;
        padding: 0.1rem 0.5rem;
        font-weight: $font-bold;
        text-transform: uppercase;
        font-size: rem-calc(13);
      }
      svg {
        height: 100%;
      }
    }
  }
  .online-source {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      margin-top: 0;
    }
    & > * {
      padding: 0 2rem;
      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }
    .text {
      position: relative;
      flex-basis: 60%;
      text-align: right;
      @include media-breakpoint-down(md) {
        text-align: center;
        flex-basis: 100%;
      }
      &::after {
        content: '';
        width: 1px;
        background: linear-gradient(rgba(196,165,101,0),rgba(0,0,0,.05),rgba(196,165,101,0));
        margin-left: 1rem;
        position: absolute;
        right: 0;
        top: -.5rem;
        bottom: -.5rem;
        @include media-breakpoint-down(md) {
          content: none;
        }
      }
      &__title {
        font-size: 1.2rem;
      }
      &__desc {
        font-size: 0.8rem;
        line-height: 1.2rem;
        color: #aaa;
      }
    }
    .buttons {
      flex-basis: 40%;
      text-align: left;
      @include media-breakpoint-down(md) {
        margin-top: 1rem;
      }
      @include media-breakpoint-down(xs) {
        display: flex;
        flex-direction: column;
      }
      .button {
        margin: 0 auto;
        @include media-breakpoint-between(sm, md) {
          margin: 0 0.7rem;
        }
        & + .button:not(:last-child) {
          margin: 0.7rem auto;
        }
      }
    }
  }
  .color-bar {
    height: rem-calc(20);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    rect {
      opacity: 0.1;
      height: rem-calc(20);
    }
  }
  .code-fragments, .screens {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    .column {
      margin: 0;
    }
    figcaption {
      font-weight: $font-light;
    }
  }
  .code-fragments {
    .columns {
      flex-wrap: wrap;
    }
    .column {
      @include media-breakpoint-up(lg) {
        width: 50%;
      }
      > pre {
        max-height: 30rem;
      }
    }
  }
  .screen {
    flex-basis: 33%;
    flex-grow: 0;
    @include media-breakpoint-down(md) {
      // width: 50%;
    }
    &__img {
      width: 100%;
    }
    &__title {
      margin-top: 0.5rem;
    }
  }
}