@import "../Layout/scss/utils/index";

.socials {
  display: flex;
  align-items: center;
  justify-content: center;

  &__label {
    margin-right: 1rem;
  }
  &__link {
    margin: 0 0.5rem;
    &:hover svg {
      fill: rgba(#fff, 1);
    }
  }
  &__svg {
    fill: rgba(#fff, 0.4);
    width: rem-calc(25);
    height: rem-calc(25);
    transition: .3s;
  }
}