* {
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Rubik', sans-serif;
  font-size: rem-calc(15);
  text-rendering: optimizeLegibility;
  @include media-breakpoint-up(xxl) {
    font-size: rem-calc(16);
  }
}
button, input, textarea {
  font-family: 'Rubik', sans-serif;
}
img {
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
p + p {
  margin-top: 0;
}
.container {
  display: flex;
  width: 75rem;
  margin: 0 auto;
  &--column {
    flex-direction: column;
  }
  @include media-breakpoint-between(md, lg) {
    width: auto;
    margin: 0 rem-calc(50);
  }
  @include media-breakpoint-down(sm) {
    width: auto;
    // margin: 0 rem-calc(20);
  }
}
.columns {
  display: flex;
  margin: 0 -2rem;
  flex-grow: 1;
  @include media-breakpoint-down(md) {
    flex-direction: column;
    margin: 0;
  }
  & > .column {
    flex-grow: 1;
    flex-basis: 0;
    padding: 2rem;
  }
  & > .column.is-half {
    flex: none;
    width: 50%;
  }
}

button, .button, .button--outlined {
  display: inline-flex;
  font-size: rem-calc(15);
  font-weight: $font-normal;
  text-transform: uppercase;
  color: #fff;
  background-color: $color-blue;
  background: linear-gradient(-90deg, $color-green, $color-blue);
  border: 1px solid transparent;
  border-radius: 9999px;
  padding: rem-calc(10) rem-calc(30);
  transition: .3s;
  cursor: pointer;
  outline: none;
  &:hover {
    color: #2C2C55;
  }
  &--outlined {
    background: none;
    border: rem-calc(1) solid $color-blue;
    color: $color-blue;
    box-shadow: none;
    &:hover {
      color: #000;
      background-color:  $color-green;
      border-color:  $color-green;
      box-shadow: none;
    }
  }
}

main {
  background: linear-gradient(#f6faff, #fff 25%, #fff 75%, #f6faff);
}

.section {
  &__title {
    font-weight: $font-light;
    font-size: rem-calc(33);
    color: #2B2B53;
    text-align: center;
    margin-top: 0;
  }
  &__subtitle {
    font-weight: $font-bold;
    font-size: rem-calc(16);
    color: #CACAE2;
    text-transform: uppercase;
    text-align: center;
  }
}

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}